In [1]:
names = ["a", "b", "c"]

In [ ]:
asassdffskldfasldfasdfklasjlksafjlkasflaskfsalk

In [2]:
names.__class__

list

In [3]:
names.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [4]:
print(names.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [7]:
names.__len__()

3

In [8]:
len(names)

3

In [13]:
dir(names)[-11:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [49]:
names = {
    "firoz": "db",
    "karthik": "db",
    "santhosh": "da",
    "lokesh": "da",
    "betrand": "devops"
}

In [18]:
names["karthik"]

'db'

In [19]:
names["hari"]

KeyError: 'hari'

In [20]:
"hari" in names

False

In [22]:
help(names.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [23]:
names.get("hari", "not_in_the_team")

'not_in_the_team'

In [24]:
names["karthik"]

'db'

In [25]:
names.get("karthik", "not_in_the_team")

'db'

In [26]:
True and True

True

In [27]:
True or False

True

In [112]:
True and False

False

In [29]:
False or True

True

In [ ]:
name= "sdf"
sdff

In [118]:
if 5 == 5:
    print("this is a true statement")
    x, y = 4, 5
    result = x + y
    print(result)

this is a true statement
9

In [33]:
if "firoz" == "karthik":
    print("this is true statement")

In [34]:
names

{'firoz': 'db', 'karthik': 'db', 'santhosh': 'da', 'lokesh': 'da'}

In [41]:
name1 = "hari"
name2 = "ramesh"

In [39]:
name in names

False

In [38]:
if name in names:
    print("give greetings")

else:
    print("no greetings")

no greetings

In [43]:
names

{'firoz': 'db', 'karthik': 'db', 'santhosh': 'da', 'lokesh': 'da'}

In [44]:
name1, name2

('hari', 'ramesh')

In [46]:
if name2 in names:
    print("give greetings")

elif "firoz" in names:
    print("give greetings to firoz")

else:
    print("no greetings")

give greetings to firoz

In [47]:
# False
if name2 in names:
    print("give greetings")

# True
elif "firoz" in names:
    print("give greetings to firoz")

# True
elif "kartik" in names:
    print("give greetings to kartik")

else:
    print("no greetings")

give greetings to firoz

In [50]:
names

{'firoz': 'db',
 'karthik': 'db',
 'santhosh': 'da',
 'lokesh': 'da',
 'betrand': 'devops'}

In [54]:
if ("hari" in names) or ("betrand" in names):
    print("give award")

else:
    print("no luck!")

give award

In [61]:
if 3 < 6:
    print("3 < 6")

    if 3 > 5:
        print("3 > 5")

    else:
        print("false")

else:
    print("false")

3 < 6
false

In [63]:
if (10 > 5) and (10 < 15):
    print("10 is between 5 and 15")

else:
    print("10 is less than or equal to 5")

10 is between 5 and 15

In [ ]:
if condition(s):
    print()

In [65]:
names

{'firoz': 'db',
 'karthik': 'db',
 'santhosh': 'da',
 'lokesh': 'da',
 'betrand': 'devops'}

In [67]:
"betrand" in names

True

In [66]:
names["betrand"]

'devops'

In [ ]:
[] -> str, list, dict

In [68]:
names

{'firoz': 'db',
 'karthik': 'db',
 'santhosh': 'da',
 'lokesh': 'da',
 'betrand': 'devops'}

In [119]:
for i in "hello":
    print(i)

h
e
l
l
o

In [70]:
for name in names:
    print(name)

firoz
karthik
santhosh
lokesh
betrand

In [71]:
name = "lokesh"

In [73]:
names

{'firoz': 'db',
 'karthik': 'db',
 'santhosh': 'da',
 'lokesh': 'da',
 'betrand': 'devops'}

In [74]:
names.keys()

dict_keys(['firoz', 'karthik', 'santhosh', 'lokesh', 'betrand'])

In [76]:
for name in names:
    if name == "lokesh":
        print("lokesh is not a part of the team")
    
    else:
        print(f"{name} is a part of the team")

firoz is a part of the team
karthik is a part of the team
santhosh is a part of the team
lokesh is not a part of the team
betrand is a part of the team

In [77]:
names

{'firoz': 'db',
 'karthik': 'db',
 'santhosh': 'da',
 'lokesh': 'da',
 'betrand': 'devops'}

In [78]:
for name in names:
    if name != "lokesh":
        print(f"{name} is a part of the team")

firoz is a part of the team
karthik is a part of the team
santhosh is a part of the team
betrand is a part of the team

In [80]:
for name in names:
    break

In [82]:
emp_details = {
    "a": {
        "age": 23,
        "id": "sdfsdf",
        "logins": [1, 2, 3]
    },

    "b": {
        "age": 45,
        "id": "45sdf",
        "logins": [1, 2, 3]
    },
}

In [92]:
emp_details

{'a': {'age': 23, 'id': 'sdfsdf', 'logins': [1, 2, 3]},
 'b': {'age': 45, 'id': '45sdf', 'logins': [1, 2, 3]}}

In [93]:
for emp in emp_details:
    if emp_details[emp]["age"] > 30:
        print(f"{emp}'s age is greater than 30")
        emp_details[emp]["level"] = "senior"
        print()

    else:
        print(f"{emp}'s age is less than 30")
        emp_details[emp]["level"] = "associate"
        print()

a's age is less than 30

b's age is greater than 30

In [94]:
emp_details

{'a': {'age': 23, 'id': 'sdfsdf', 'logins': [1, 2, 3], 'level': 'associate'},
 'b': {'age': 45, 'id': '45sdf', 'logins': [1, 2, 3], 'level': 'senior'}}

In [95]:
numbers = [i for i in range(16)]

In [97]:
numbers_squared = {
    number: number ** 2
    for number in numbers
}

In [98]:
numbers_squared

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [111]:
for number in numbers_squared:
    if number % 2 == 0:
        # even
        print(f"{number} is even")
        
    else:
        print(f"{number} is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

In [103]:
145 // 2

72

In [104]:
145 / 2

72.5